<div class='container'>
 <div class="row">
	 <div class="col-xs-9">
   <table class="table">
   <h2>Follower Users</h2>
   <thead>
    <tr>
			     <th>image</th>
			     <th>name</th>
		       <th colspan="3"></th>
		  </tr>
   </thead>
    <tbody>
     <tr>
        <% @followers_users.each do |followers_users| %>

        <td><%= attachment_image_tag(follower_users, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %></td>
        <td><%= follower_users.name %></td>
        <td><h6 class="comment-count">フォロー数：<%= follower_users.follower.count %></h6></td>
			  <td><h6 class="comment-count">フォロワー数：<%= follower_users.followed.count %></h6></td>
	  	  <td><%= link_to "Show", user_path(followers_user), class: "user_#{follower_users.id}" %></td>
     </tr>
        <% end %>
    </tbody>
   </table>
  </div>
 </div>
</div>