<div class='container'>
  <div class="row">
	<div class="col-xs-3">
      <h2>User info</h2>
	  <%= render 'users/profile' %>

	  <h2>New book</h2>
	  <%= render 'books/form', book: @booknew %>
    </div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class="table">
				<tr>
					<td>
						<%= link_to user_path(@user) do %>
							<%= attachment_image_tag(@user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><br>
						<%= @user.name %>
						<% end %>
					</td>
					<td><%= link_to @book.title, book_path(@book) %></td>
					<td><%= @book.body %></td>
					    <% if current_user == @user %>
					<td><%= link_to "Edit", edit_book_path(@book), class: "btn-sm btn-success edit_book_#{@book.id}" %></td>
					    <% end %>
					    <% if current_user == @user %>
					<td><%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@book.id}" %></td>
					    <% end %>
					<td class="favorite-btn_<%= @book.id %>">
			       <%= render 'favorites/favorites', book: @book %>
			    </td>
					<td>
						 <h6 class="comment-count">コメント数：<%= @book.book_comments.count %></h6>
					</td>
				</tr>
				<tr class="comment">
                  <%= render 'book_comments/bookcomments', book: @book %>
				</tr>
				<tr>
				 <td>
					 <%= form_with(model:[@book,@book_comment], data: {remote: true}) do |f| %>
                     <div class="row">
                       <div class="col-sm-24">
                        <%= f.text_area :comment, rows:'5', class: "form-control", id: "text" %>
                       </div>
                      </div>
                       <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
                     <% end %>
				 </td>
				</tr>
		</table>
    </div>
  </div>
</div>

  <%= render 'layouts/footer' %>